{% extends 'base.html.twig' %}
{% block title %}ADD Courrier{% endblock %}

{% block content %}
{{ form_start(form) }}
<script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
    <div class="col-md-6">
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Information</h6>
                            {{ form_row(form.name) }}
                            
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            
                            
                            {{ form_row(form.nature) }}
                            {{ form_row(form.courrierFile) }}
                            <div id="preview-container"></div>
                        </div>
                        
                        <div class="bd mb-1 bgc-grey p-20 sk-bd">
                            <h5>Client</h5>
                            {{ form_row(form.clientNom) }}
                            
                            {{ form_row(form.clientPrenom) }}
                            

                        </div>

                        <div class="bd mb-1 bgc-grey p-20 sk-bd">
                            <h5>Direction</h5>
                            {{ form_row(form.status) }}
                            
                            
                            

                        </div>
                        
                        
                    </div>
                   
                </div>
    <div class="col-md-12 d-block mt-2 text-center">
                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="ti-save"></i> &nbsp;Enregistrer
                    </button>
                </div>
{{ form_end(form) }}

<script>
    
    
    $('#courrier_courrierFile').change(function() {
    // Get the selected file
    
    var file = this.files[0];

    // Create a FileReader object
    var reader = new FileReader();
    console.log("ezoehozehozn");
    // Listen for the load event on the reader
    reader.onload = function(e) {
        console.log("ezoehozehozn");
        // Get the data URL from the reader
        var dataURL = e.target.result;

        // Create an image element and set its src to the data URL
        var image = $('<img>').attr('src', dataURL);

        // Append the image to the preview container
        $('#preview-container').html(image);
    };

    // Read the file as a data URL
    reader.readAsDataURL(file);
});
</script>


{% endblock %}