{% extends 'base.html.twig' %}

{% block title %}Client list{% endblock %}

{% block content %}
                              
                                <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h4 class="c-grey-900 mB-20">Liste des reçus</h4>
                        <div class="input-group input-group-sm mb-3 ">
                                <div class="input-group-prepend">
                                    <button class="btn btn-success" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                                <input type="text" id="search-input" placeholder="Search" class="border border-success">
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{{ path("create_recu")}}" class="btn btn-success btn-icon-split btn-lg">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Insérer un Reçu</span>
                                    </a>
                        
                         </div>
                    
                </div>
                <div class="table-responsive">

                <table id="dataTable" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Matricule</th>
                        
                        <th>Moyen</th>
                        <th>Montant en Ar</th>
                       <th>Montant en Lettre</th>
                       <th>Status</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                       <th>Nom</th>
                        <th>Prénom</th>
                        <th>Matricule</th>
                        
                        <th>moyen</th>
                        <th>Montant en Ar</th>
                       <th>Montant en Lettre</th>
                       <th>Status</th>
                    </tr>
                    </tfoot>
                    <tbody id="table-id">
                    {% for recu in recus %}
                        <tr>
                            <td>{{ recu.client.nom }}</td> 
                            <td>{{ recu.client.prenom }}</td>
                            
                            <td>{{ recu.matricule }}</td>
                           
                            <td>{{ recu.moyen }}</td>
                            <!-- WTF, tsy zao ny fanoratana anle montant_ariary de nefa mande p$$$ le izy -->
                            <td>{{ recu.montantariary }}</td>
                            <td>{{ recu.montantlettre }}</td>
                            <!-- Mety hoe ignoreny le "_" -->
                            <td>{{ recu.status }}</td>
                            
                            
                           
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                
            </div>
        </div>
    </div>
                              
     <script>
                    document.getElementById("search-input").addEventListener("keyup", function() {
                        let input = this.value.toLowerCase();
                        let rows = document.getElementById("table-id").getElementsByTagName("tr");

                        for (let i = 0; i < rows.length; i++) {
                            let cells = rows[i].getElementsByTagName("td");
                            let found = false;

                            for (let j = 0; j < cells.length; j++) {
                                if (cells[j].innerHTML.toLowerCase().indexOf(input) > -1) {
                                    found = true;
                                }
                            }

                            if (found) {
                                rows[i].style.display = "";
                            } else {
                                rows[i].style.display = "none";
                            }
                        }
                    });
</script>      
                                        
                                    
{% endblock %}
