{% extends 'base.html.twig' %}
{% block title %}ADD{% endblock %}

{% block content %}
{{ form_start(form) }}
    <div class="row">
                    <div class="col-md-6">
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Système</h6>
                            {{ form_row(form.nom) }}
                            {{ form_row(form.prenom) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            
                            {{ form_row(form.montant) }}
                            {{ form_row(form.total) }}
                            {{ form_row(form.adresse) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Date de naissance</h6>
                            {{ form_widget(form.birth_date) }}
                            

                        </div>
                        
                    </div>
                   
                </div>
                <div class="col-md-12 d-block mt-2 text-center">
                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="ti-save"></i> &nbsp;Enregistrer
                    </button>
                </div>
    
{{ form_end(form) }}
{% endblock %}